@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "bold";
  src: url("../src/assets/Fonts/IRANYekanXFaNum-Bold.woff") format("woff");
}
@font-face {
  font-family: "semiBold";
  src: url("../src/assets/Fonts/IRANYekanXFaNum-DemiBold.woff") format("woff");
}
@font-face {
  font-family: "medium";
  src: url("../src/assets/Fonts/IRANYekanXFaNum-Medium.woff") format("woff");
}







body{
  margin: 0;
}
#root {
  margin: 0 auto;
}