@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: bold;
  src: url("../assets/IRANYekanX(Pro)/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Bold.woff") format("woff");
}
@font-face {
  font-family: semiBold;
  src: url("../assets/IRANYekanX(Pro)/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-DemiBold.woff") format("woff");
}
@font-face {
  font-family: medium;
  src: url("../assets/IRANYekanX(Pro)/IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Medium.woff") format("woff");
}







body{
  margin: 0;
}
#root {
  margin: 0 auto;
}
