@import "tailwindcss";

@font-face {
  font-family: iranyekan;
  src: url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Black.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Bold.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-DemiBold.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-ExtraBold.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Heavy.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Light.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Medium.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Regular.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Thin.woff') format('woff'),
  url('../IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-UltraLight.woff') format('woff'),

  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Black.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Bold.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-DemiBold.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-ExtraBold.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Heavy.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Light.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Medium.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Regular.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-Thin.woff2') format('woff2'),
  url('../IRANYekanX(Pro)/Webfonts/woff2/IRANYekanX-UltraLight.woff2') format('woff2'),
}




*{
  font-family: iranyekan;
}
body{
  margin: 0;
}
#root {
  height: 1000px;
  margin: 0 auto;
}
