@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranYekan;
  src: url('/IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Thin.woff') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: IranYekan;
  src: url('/IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Light.woff') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: IranYekan;
  src: url('/IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;

}@font-face {
  font-family: IranYekan;
  src: url('/IRANYekanX(Pro)/Webfonts/woff/IRANYekanX-Bold.woff') format('woff2');
  font-weight: 700;
  font-display: swap;
}