@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Black";
  src: local("IRANYekanXFaNum-Black") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Black.woff") format("woff");
}
@font-face {
  font-family: "Bold";
  src: local("IRANYekanXFaNum-Bold") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Bold.woff") format("woff");
}
@font-face {
  font-family: "DemiBold";
  src: local("IRANYekanXFaNum-DemiBold") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-DemiBold.woff") format("woff");
}
@font-face {
  font-family: "ExtraBlack";
  src: local("IRANYekanXFaNum-ExtraBlack") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: "ExtraBold";
  src: local("IRANYekanXFaNum-ExtraBold") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Heavy";
  src: local("IRANYekanXFaNum-Heavy") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Light";
  src: local("IRANYekanXFaNum-Light") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Light.woff") format("woff");
}
@font-face {
  font-family: "Medium";
  src: local("IRANYekanXFaNum-Medium") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Medium.woff") format("woff");
}
@font-face {
  font-family: "Regular";
  src: local("IRANYekanXFaNum-Regular") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Regular.woff") format("woff");
}
@font-face {
  font-family: "Thin";
  src: local("IRANYekanXFaNum-Thin") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Thin.woff") format("woff");
}
@font-face {
  font-family: "UltraLight";
  src: local("IRANYekanXFaNum-UltraLight") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-UltraLight.woff") format("woff");
}




@font-face {
  font-family: "Black2";
  src: local("IRANYekanXFaNum-Black") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Bold2";
  src: local("IRANYekanXFaNum-Bold") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "DemiBold2";
  src: local("IRANYekanXFaNum-DemiBold") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "ExtraBlack2";
  src: local("IRANYekanXFaNum-ExtraBlack") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-ExtraBlack.woff2") format("woff2");
}
@font-face {
  font-family: "ExtraBold2";
  src: local("IRANYekanXFaNum-ExtraBold") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Heavy2";
  src: local("IRANYekanXFaNum-Heavy") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "Light2";
  src: local("IRANYekanXFaNum-Light") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Medium2";
  src: local("IRANYekanXFaNum-Medium") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Regular2";
  src: local("IRANYekanXFaNum-Regular") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff2/IRANYekanXFaNum-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Thin2";
  src: local("IRANYekanXFaNum-Thin") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-Thin.woff") format("woff");
}
@font-face {
  font-family: "UltraLight2";
  src: local("IRANYekanXFaNum-UltraLight") 
  url("./IRANYekanX(Pro)/Farsi numerals/Webfonts/Woff/IRANYekanXFaNum-UltraLight.woff") format("woff");
}

